<!DOCTYPE html>
<html lang="en" ng-app="Lesson5">
<head>
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="../js/controller/Lesson5.js"></script>
    <link rel="stylesheet" href="../css/FormCheck.css" type="text/css"/>
    <title>Lesson5</title>
</head>
<body>
这节课学习复杂表单验证方式
<div ng-controller="MyController51">
    <h2>1.表单验证 点击提交按钮后显示错误信息</h2>
    <form name="signup_form" novalidate ng-submit="signupForm()">
        <fieldset>
            <legend>Signup</legend>
            <div class="row">
                <div class="large-12 columns">
                    <label>Your name</label>
                    <input type="text"
                           placeholder="Name"
                           name="name"
                           ng-model="signup.name"
                           ng-minlength="3"
                           ng-maxlength="20" required />
                    <div class="error"
                         ng-show="signup_form.name.$dirty && signup_form.name.$invalid  && signup_form.submitted">
                        <small class="error"
                               ng-show="signup_form.name.$error.required">
                            Your name is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.name.$error.minlength">
                            Your name is required to be at least 3 characters.
                        </small>
                        <small class="error"
                               ng-show="signup_form.name.$error.maxlength">
                            Your name cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Your Email</label>
                    <input type="email"
                           placeholder="Your Email"
                           name="email"
                           ng-model="signup.email"
                           required />
                    <div class="error"
                        ng-show="signup_form.email.$dirty && signup_form.email.$invalid  && signup_form.submitted">
                        <small class="error"
                            ng-show="signup_form.email.$error.required">
                            Your email is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.email.$error.email">
                            This is not a valid email address.
                        </small>
                    </div>
                </div>
                <div class="large-12 columns">
                    <label>Username</label>
                    <input type="text"
                           placeholder="Username"
                           name="Username"
                           ng-model="signup.username"
                           ng-maxlength="20" required />
                    <div class="error"
                         ng-show="signup_form.Username.$dirty && signup_form.Username.$invalid && signup_form.submitted">
                        <small class="error"
                               ng-show="signup_form.Username.$error.required">
                            Your username is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.Username.$error.maxlength">
                            Your username is too long.
                        </small>
                        <small class="error"
                               ng-show="signup_form.Username.$error.unique">
                            Your username has been taken.
                        </small>
                    </div>
                </div>
            </div>
            <button type="submit" class="button radius">Submit</button>
        </fieldset>
    </form>
    <h2>2.表单验证 失焦后显示错误信息</h2>
    <form name="signup_form" novalidate ng-submit="signupForm()">
        <fieldset>
            <legend>Signup</legend>
            <div class="row">
                <div class="large-12 columns">
                    <label>Your name</label>
                    <input type="text"
                           placeholder="Name"
                           name="name"
                           ng-model="signup.name"
                           ng-minlength="3"
                           ng-maxlength="20" required ng-focus/>
                    <div class="error"
                         ng-show="signup_form.name.$dirty && signup_form.name.$invalid && !signup_form.name.$focused">
                        <small class="error"
                               ng-show="signup_form.name.$error.required">
                            Your name is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.name.$error.minlength">
                            Your name is required to be at least 3 characters.
                        </small>
                        <small class="error"
                               ng-show="signup_form.name.$error.maxlength">
                            Your name cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Your Email</label>
                    <input type="email"
                           placeholder="Your Email"
                           name="email"
                           ng-model="signup.email"
                           required ng-focus/>
                    <div class="error"
                         ng-show="signup_form.email.$dirty && signup_form.email.$invalid && !signup_form.email.$focused">
                        <small class="error"
                               ng-show="signup_form.email.$error.required">
                            Your email is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.email.$error.email">
                            This is not a valid email address.
                        </small>
                    </div>
                </div>
                <div class="large-12 columns">
                    <label>Username</label>
                    <input type="text"
                           placeholder="Username"
                           name="Username"
                           ng-model="signup.username"
                           ng-maxlength="20" required ng-focus/>
                    <div class="error"
                         ng-show="signup_form.Username.$dirty && signup_form.Username.$invalid && !signup_form.Username.$focused">
                        <small class="error"
                               ng-show="signup_form.Username.$error.required">
                            Your username is required.
                        </small>
                        <small class="error"
                               ng-show="signup_form.Username.$error.maxlength">
                            Your username is too long.
                        </small>
                        <small class="error"
                               ng-show="signup_form.Username.$error.unique">
                            Your username has been taken.
                        </small>
                    </div>
                </div>
            </div>
            <button type="submit" class="button radius">Submit</button>
        </fieldset>
    </form>
    <h3>读后感：表单验证外面包一层div，用于判断是否dirty和错误，内部添加用于不同情况的错误显示的元素</h3>
</div>

</body>
</html>